body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	padding: 0.33ch 0.75ch;
	margin: 0;
	font-family: monospace;
	background-color: #eee;
	border-radius: 0 10px 25px 0;
	border: 1px solid #999;
	border-left: none;
	margin-right: 1ch;
}

h1 {
	font-size: 22pt;
	text-align: center;
}

h2 {
	font-size: 16pt;
}

p, em, span, a, li {
	font-size: 13pt;
	font-family: serif;
	margin: 0.5ch;
}

em {
	font-weight: bold;
}

a {
	color: #273;
	text-decoration: none;
}

ul {
	margin: 0;
}

li {
	list-style-type: none;
}

li:before {
	content: "✔ ";
}

.text-center {
	text-align: center;
}

.pd-l-childs :is(*){ /*padding-left*/
	padding-left: 5vw;
}